@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body:not(#home),
.modal-body {
    background-color: #ffe5b4;
}


/*Főoldal*/

#home {
    height: 100vh;
    background-image: url(../../Roli/fooldal.html);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#home .intro {
    color: white;
    height: 100vh;
}

#home .intro .col-md-8 {
    background-color: rgba(0, 0, 0, 0.4);
}

.intro h1 {
    color: #481f01;
}


/*Menü*/

nav {
    background-color: #481f01;
}

nav a:first-child img {
    width: 40px;
}

.navbar-brand{
    margin-left: 5px;
}

.navbar-toggler{
    margin-right: 5px;
}

nav a{
    margin-left: 5px;
}

.banner {
    background-image: url();
    background-position: center center;
    background-size: cover;
    height: 400px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #481f01;
    text-align: center;
    font-weight: bold;
}

.card {
    color: #ffffff;
    background-color: #481f01;
    border: 1px solid #481f01;
}

.card:hover {
    box-shadow: 0px 0px 5px #481f01;
}

h5 {
    text-align: center;
    font-variant: small-caps;
    font-family: 'Inter', sans-serif;
}

a:hover {
    text-decoration: none;
}

#napiajanlat{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;    
}

.footer {
    background-color: #481f01;
    color: #ffffff;
}

footer li {
    list-style-type: none;
}

footer li>img {
    width: 15px;
    margin-right: 10px;
}

.modal-content {
    background-color: #ffe5b4;
}

.blog-img {
    border-radius: 4px;
    border: 1px solid #481f01;
}

p.szerzo {
    text-align: right;
    font-family: 'Inter', sans-serif;
}

.box{
    border: 1px solid #481f01;
}

.box h2{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    background-color: #481f01;
    color: #fff;
    padding: .5rem;
}

.box span.btn{
    margin: .25rem;
}
